h1 {
    color: orange;
    background-color: slategray;
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


p {
    color: slateblue;
    text-align: right;
    line-height: 20px;
    letter-spacing: 2px;
    column-count: 2;
    column-gap: 80px;
}
ul{
    /* border-width: 4px;
    border-style: dashed;
    border-color: teal; */
    border: 4px dashed teal;
    border-bottom: solid tomato;
    border-top: dotted;
    padding-bottom: 18px;
}
li{
    list-style-type: square; /*can use "none" to get rid of them*/
    text-shadow: 2px 2px #948d8d;
}